{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- toast UI calendar, chart -->
    <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.css" />
    <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
    <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.chart/latest/tui-chart.css">
    <!-- bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.5.0.js"
        integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
    <!-- toast UI calendar, chart -->
    <script src="https://uicdn.toast.com/tui.code-snippet/latest/tui-code-snippet.js"></script>
    <script src="https://uicdn.toast.com/tui.dom/v3.0.0/tui-dom.js"></script>
    <script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.min.js"></script>
    <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.min.js"></script>
    <script src="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.js"></script>
    <script src="https://uicdn.toast.com/tui.chart/latest/tui-chart-all.js"></script>
    <!-- bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <link href="{% static 'styles/calendar.css' %}" rel="stylesheet">

    <title>캘린더 테스트</title>
</head>

<body>
    {% csrf_token %}

    <div id="wrap">

        <nav class="navbar navbar-expand-lg navbar-light bg">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <!-- 학생과 교수가 다르게 보이는 부분 -->
                    {% if request.session.userType == "student" %}
                    <!-- id에 addEventListner 추가 -->
                    <li>
                        <button type="button" class="btn btn-outline-secondary" id="calStdBtn">일정 관리</button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-outline-secondary" id="subjectBtn">과목</button>
                    </li>
                    <li><button type="button" class="btn btn-outline-secondary" id="subjectLoad">과목 조회</button></li>
                    <!-- 테스트 -->
                    {% elif request.session.userType == "professor" %}
                    <li>
                        <button type="button" class="btn btn-outline-secondary" id="calProBtn">일정 관리</button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-outline-secondary" id="subProBtn">강의 개설</button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-outline-secondary" id="voteProBtn">투표 현황</button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-outline-secondary" id="shareProBtn">공유 캘린더</button>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <!-- 사이드바 생성 -->
        <div id="sidebar">
            <div class="side_area">
                <div class="side_menu">
                    <p class="side_title">일정 분류</p>
                    <ul class="menu_area">
                        <li><label><input type="checkbox" name="cal_id" value="일반 교양" checked> 일반 교양</label></li>
                        <li><label><input type="checkbox" name="cal_id" value="전공 선택" checked> 전공 선택</label></li>
                        <li><label><input type="checkbox" name="cal_id" value="전공 필수" checked> 전공 필수</label></li>
                    </ul>
                </div>
            </div>
        </div>


        {% if request.session.userID %}
        <!-- 학생/교수 다쓰는 부분 -->
        <div class="contents" id="calendar-common">
            <div id="navi">
                <button type="button" id="prevBtn">
                    &lt;&lt; </button>
                <button type="button" id="today">오늘
                </button>
                <span id="year_month">
                    <span id="year"></span>.
                    <span id="month"></span>
                </span>
                <select name="change_day" id="change_day">
                    <option value="month">월간</option>
                    <option value="week">주간</option>
                    <option value="day">일간</option>
                </select>
                <button type="button" id="nextBtn"> &gt;&gt;</button>
            </div>
            <div id="calendar">
            </div>
        </div>
        <!-- 학생과 교수가 다르게 보이는 부분 -->
        {% if request.session.userType == "student" %}
        <!-- 학생 강의 수강 페이지 -->
        <div class="contents" id="lecture" style="display: none;">
            <h3>강의</h3>
            <div>
                <label class="" for="">학과: </label>
                <select class="selectpicker" id="department" name="department"
                    onchange="change_subject('department', 'subject', 'lecture_type')"></select>
                <label class="" for="">과목: </label>
                <select class="selectpicker" id="subject" name="subject"
                    onchange="change_type('subject', 'lecture_type')"></select>
                <label class="" for="">이수구분: </label>
                <select class="selectpicker" id="lecture_type" name="lecture_type"></select>
                <button class="btn btn-default" onclick="lecture_lookup()">조회</button>
            </div>
            <div class="lecture-table-wrap">
                <table class="table table-hover" id="lecture_table">
                    <thead>
                        <tr>
                            <th scope="col">학수번호</th>
                            <th scope="col">분반</th>
                            <th scope="col">학과</th>
                            <th scope="col">이수구분</th>
                            <th scope="col">교과목명</th>
                            <th scope="col">교수</th>
                            <th scope="col">교시</th>
                            <th scope="col">수강 인원</th>
                        </tr>
                    </thead>
                    <tbody id="lecture_tbody">
                    </tbody>
                </table>
            </div>
            <button type="button" class="btn btn-outline-dark" id="lecture_save_btn">저장</button>
        </div>

        <div class="contents" id="studentLectureLoad" style="display: none;">
            <h3>강의 조회</h3>
            <div class="lecture-table-wrap">
                <table class="table table-hover" id="lecture_load_table">
                    <thead>
                        <tr>
                            <th scope="col">학수번호</th>
                            <th scope="col">분반</th>
                            <th scope="col">학과</th>
                            <th scope="col">이수구분</th>
                            <th scope="col">교과목명</th>
                            <th scope="col">교수</th>
                            <th scope="col">교시</th>
                        </tr>
                    </thead>
                    <tbody id="lecture_load_tbody">
                    </tbody>
                </table>
            </div>
            <button type="button" class="btn btn-outline-dark" id="lecture_delete_btn">삭제</button>
        </div>

        {% elif request.session.userType == "professor" %}
        <!-- 교수 강의 개설 페이지-->
        <div class="contents" id="professor1" style="display: none;">
            <!-- 교수 개설 강의 목록 table -->
            <div id="make-table">
                <table class="table make-professor">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">학수번호</th>
                            <th scope="col">분반</th>
                            <th scope="col">이수구분</th>
                            <th scope="col">교과목명</th>
                            <th scope="col">담당교수</th>
                            <th scope="col">교시</th>
                        </tr>
                    </thead>
                    <tbody id="make-info">
                    </tbody>
                </table>
            </div>

            <!-- 교수 강의 개설하는 페이지 -->
            <div id="make-lecture">
                <form id="make-lecture-wrap">
                    <span>학수번호<input type="text" style="width: 70px;" id="lec-code"> - <input type="text" id="lec-class"
                            style="width: 30px;"></span>
                    <span>이수구분<input type="text" id="lec-type"></span>
                    <span>교과목명<input type="text" id="lec-name"></span>
                    <span>학과<input type="text" id="lec-depart"></span>
                    <span>교시<input type="text" id="lec-time"></span>
                </form>
                <button type="button" id="lecMakeBtn" value="개설">개설</button>
            </div>
        </div>
        <!-- 교수 투표 관련 페이지 -->
        <div class="contents" id="professor2" style="display: none;">
            <span>강의 분류:</span>
            <select id="lecture-class" name="lectureClass">
                <option value="전공 필수">전공 필수</option>
                <option value="전공 선택">전공 선택</option>
                <option value="일반 교양">일반 교양</option>
            </select>
            <span>투표 상태:</span>
            <select id="vote-status" name="voteStatus">
                <option value="투표중">투표중</option>
                <option value="투표 완료">투표 완료</option>
            </select>
            <button type="button" id="voteTableBtn">선택</button>
            <div id="table-wrap">
                <table class="table vote-professor">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">강의코드</th>
                            <th scope="col">강의분류</th>
                            <th scope="col">강의명</th>
                            <th scope="col">투표상태</th>
                            <th scope="col"> - </th>
                        </tr>
                    </thead>
                    <tbody id="vote-info">
                    </tbody>
                </table>
            </div>
            <!-- toast UI Chart 부분 -->
            <div id="vote-detail-donut">
                <div id="chart-area"></div>
            </div>
        </div>
        <!-- 공유 캘린더 구현 예정 -->
        <div class=" contents" id="professor3" style="display: none;">
            공유 캘린더
        </div>
        {% endif %}
        {% endif %}

        <div id="right_nav">
            <div id="userinfo_layer">
                <div id="userInfo">

                    <!-- 학생과 교수에 따라 문구를 변경 username으로 변경예정-->
                    {% if request.session.userID %}
                    {% if request.session.userType == "student" %}
                    <p> {{ request.session.userName }} 학생 안녕하세요!</p>
                    {% elif request.session.userType == "professor" %}
                    <p> {{ request.session.userName }} 교수님 안녕하세요!</p>
                    {% endif %}
                    <span id=logout-navi>
                        <a type="button" id="logoutBtn" href="{% url 'logout' %}">로그아웃</a>
                    </span>
                    {% else %}
                    <p> 로그인이 필요합니다.</p>
                    {% endif %}

                </div>
            </div>
            <div class="tab_area">
                <div id="tab_box">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" id="today" data-toggle="tab" href="#first_tab">하루일정</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="thisweek" data-toggle="tab" href="#second_tab">이번주 일정</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="lastweek" data-toggle="tab" href="#third_tab">지난주 일정</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="first_tab">
                            <div class="content_index">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="second_tab">
                        <div class="content_index">
                            <!-- 어제 일정탭 -->
                        </div>
                    </div>
                    <div class="tab-pane fade" id="third_tab">
                        <div class="content_index">
                            <!-- 내일 일정탭 -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'scripts/calFunc.js' %}"></script>
    <script src="{% static 'scripts/calSet.js' %}"></script>
    <script src="{% static 'scripts/calMain.js' %}"></script>
    <script src="{% static 'scripts/rightNav.js' %}"></script>

    {% if request.session.userType == "student" %}
    <script src="{% static 'scripts/stdFunc.js' %}"></script>
    <script src="{% static 'scripts/students.js' %}"></script>
    {% elif request.session.userType == "professor" %}
    <script src="{% static 'scripts/professors.js' %}"></script>
    {% endif %}

</body>

</html>