{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="{% static 'styles/signup.css' %}">
</head>

<body>

    <div id="page">
        <div id="header" role="banner">
            <a href="" class="main_logo">
                회원가입
            </a>
        </div>
    </div>
    <form id="newUser_form" method="POST" action="{% url 'signup' %}">
        {% csrf_token %}
        <div id="container" role="main">
            <div id="content">
                <div>
                    <h3 class="join_title">
                        <label for="userid">아이디</label>
                    </h3>
                    <span id="select_area">
                        <input type="text" name="userID" class="user_info" maxlength="20" placeholder="아이디">
                        <select id="user_type_select" name="userType">
                            <option value="student">학생</option>
                            <option value="professor">교수</option>
                        </select>
                    </span>
                </div>
                <div>
                    <h3 class="join_title">
                        <label for="psw1">비밀번호</label>
                    </h3>
                    <span class="ps_box">
                        <input type="password" name="password" class="user_info" maxlength="20" placeholder="비밀번호">
                    </span>
                    <h3 class="join_title">
                        <label for="psw2">비밀번호 확인</label>
                    </h3>
                    <span class="ps_box int_psw">
                        <input type="password" name="password_check" class="user_info" maxlength="20"
                            placeholder="비밀번호 확인">
                    </span>
                </div>
                <div>
                    <h3 class="join_title">
                        <label for="username">이름</label>
                    </h3>
                    <span class="ps_box">
                        <input type="text" name="username" class="user_info" maxlength="20" placeholder="이름">
                    </span>
                </div>
                <div>
                    <h3 class="join_title">
                        <label for="userdep">학과</label>
                    </h3>
                    <span class="ps_box">
                        <input type="text" name="department" class="user_info" maxlength="20" placeholder="학과">
                    </span>
                    <h3 class="join_title">
                        <label for="userno">학번</label>
                    </h3>
                    <span class="ps_box">
                        <input type="text" name="studentID" class="user_info" maxlength="20" placeholder="학번(학생만 입력)">
                    </span>
                </div>

                <div>
                    <h3 class="join_title">
                        <label for="email">이메일</label>
                    </h3>
                    <span class="ps_box">
                        <input type="text" id="email" name="email" class="user_info" maxlength="100" placeholder="이메일">
                    </span>
                </div>
                <div>
                    <h3 class="join_title">
                        <label for="phone">전화번호</label>
                    </h3>
                    <span class="ps_box">
                        <input type="text" name="phone" class="user_info" maxlength="100" placeholder="-제외하고 입력">
                    </span>
                </div>
                <div class="btn_area">
                    <input type="submit" class="btn_type" value="가입하기">
                </div>
            </div>
        </div>
    </form>
</body>

</html>