/* 전체적으로 적용되는 css */
a {
    color: black;
}

body {
    font-family: sans-serif;
    background: whitesmoke;
}

#nav-wrap {
    padding: 0em 0em;
    background-color: lightslategray;
}

#wrap {
    width: 1700px;
    margin-top: 2em;
    padding: 0em 0em;
    background-color: lightslategray;
}


.contents {
    display: block;
    width: 55%;
    height: 20%;
    padding: 2em 1em 5em 1em;
    float: left;
}

/* 로고css */
.logo {
    font-weight: bold;
    font-size: 20px;
    color: white;
}

/* 로고 a 테그 속성 조정 */
.logo:hover {
    color: white;
    text-decoration: none;
}



/* 상단 버튼 부분 관련 css*/
.bg {
    width: 100%;
    margin: auto;
}

.bg ul {
    margin-left: 30%;
    margin-right: auto;
}

.bg ul li {
    margin-left: 20px;

}

#nav-wrap .btn {
    border: none;
    font-weight: bold;
    color: white;
}

.btn-outline-light:hover {
    background-color: #6c757d;
}


/* calendar 부분 관련 css */
#navi {
    margin-bottom: 1em;
    text-align: center;
}

#navi button {
    width: 4em;
    background-color: white;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
}

#year_month {
    font-weight: 700;
    color: rgb(41, 47, 53);
    margin-right: 100px;
}

#prevBtn, #today, #change_day {
    float: left;
}

#change_day {
    width: 4em;
    padding: 1px;
    background-color: white;
}

#nextBtn, #nextBtn1 {
    float: right;
}

#calendar, #pubCalendar {
    border: 1px solid #cdcdcd;
    border-radius: 3px;
}



/* 사이드바 */
#sidebar {
    float: left;
    display: block;
    margin-top: 1em;
    width: 15%;
}

#sidebar ul {
    list-style: none;
}

.side_area {
    padding: 3.5em 1.5em;
}

.side_menu {
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    background: #fff;
}

.side_title {
    padding: 1.5em 0em 1em 0em;
    text-align: center;
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-bottom: 1px solid #cdcdcd;
    font-size: 1.05em;
    font-weight: 700;
}



/* 학생 과목 페이지 관련 css */
#lecture, #studentLectureLoad {
    margin-left: 15%;
}

.lecture-table-wrap {
    overflow: auto;
    height: 350px;
}

#lecture_save_btn, #lecture_delete_btn {
    float: right;
}



/* 학생투표 페이지 */
#votemenu {
    margin-left: 15%;
}

#table-wrap {
    overflow: auto;
    border: 1px solid #CDCDCD;
    height: 350px;
}

.vote-student {
    text-align: center;
}

#vote-status {
    margin-bottom: 10px;
}

#vote-detail-donut {
    padding-top: 3em;
    display: inline-block;
    width: 400px;
    margin: 0;
}

#chart-area {
    width: 400px;
    font-size: 5px;
    margin: 0;
    color: white;
}

#voteTableBtn {
    font-size: 12px;
}

tspan {
    font-size: 15px;
}

svg {
    border: 1px solid black;
}

#vote-detail-donut-student {
    padding-top: 3em;
    display: inline-block;
    width: 400px;
    margin: 0;
}

#lec-info-student {
    padding-left: 2em;
    height: 250px;
    width: 400px;
    margin: 0;
    position: relative;
    left: 500px;
    bottom: 250px;
}

#lec-info-wrap {
    border-style: solid;
    border-width: 0.5px;
    background-color: white;
}

#lec-info-area {
    width: 600px;
    height: 250px;
}

.lec-info-area table {
    margin-left: 10px;
    height: 140px;
}

.lec-info-area table thead {
    padding-top: 10px;
    padding-bottom: 10px;
}

thead tr th {
    font-size: 20px
}

.sub_info {
    height: auto;
    padding-bottom: 10px;
}

.sub_info tr th {
    font-size: 17px;
}

.sub_info tr {
    padding-top: 10px;
    padding-bottom: 10px;
}



/* 교수 페이지 전체적으로 적용되는 css */
#professor1, #professor2, #professor3 {
    margin-left: 15%;
    margin-top: 10px;
    display: block;
    position: relative;
}



/* 교수 투표페이지 관련 css */

/* 교수 투표 개설 관련 */
.vote-open-table-wrap {
    overflow: auto;
    height: 350px;
}

.professor-vote-tab-btn {
    float: right;
}

#vote-open-table {
    border: 1px solid #cdcdcd;
}

#vote-open-table-thead {
    background-color: #e9ecef;
}

#vote-open-btn {
    float: right;
}

#vote-open-tab-input table {
    height: 90%;
    width: 280px;
    border-bottom-style: dotted;
    border-bottom-color: lightgrey;
    border-bottom-width: 0.5px;
}

#vote-open-tab-input tr th {
    border-color: lightgray;
    border-style: solid;
    border-width: 0.5px;
    text-align: center;
}

#vote-open-tab-input tr td {
    background-color: white;
    padding-left: 20px;
    border-color: lightgray;
    border-style: solid;
    border-width: 0.5px;
}

/* 교수 투표 현황 관련*/
#table-wrap {
    overflow: auto;
    border: 1px solid #CDCDCD;
    height: 350px;
}

.vote-professor {
    text-align: center;
}

#vote-status {
    margin-bottom: 10px;
}

#vote-detail-donut {
    padding-top: 3em;
    display: inline-block;
    width: 400px;
    margin: 0;
}

#chart-area {
    width: 400px;
    font-size: 5px;
    margin: 0;
    color: white;
}

#voteTableBtn {
    font-size: 12px;
}

tspan {
    font-size: 15px;
}

svg {
    border: 1px solid black;
}



/* 교수 강의 개설 페이지 css */
#make-table {
    overflow: auto;
    border: 1px solid #CDCDCD;
    height: 350px;
}

#make-lecture {
    height: 350px;
}

#make-lecture input {
    width: 100px;
}

#make-lecture table {
    height: 90%;
    min-width: 100%;
    border-bottom-style: dotted;
    border-bottom-color: lightgrey;
    border-bottom-width: 0.5px;
}

#make-lecture tr th {
    border-color: lightgray;
    border-style: solid;
    border-width: 0.5px;
    text-align: center;
}

#make-lecture tr td {
    background-color: white;
    padding-left: 20px;
    border-color: lightgray;
    border-style: solid;
    border-width: 0.5px;
}

#lecMakeBtn {
    margin-top: 1em;
    position: relative;
    left: 50%;
}



/* 공유 캘린더 관련 css */

/* 억지로 잡은 css (추후 버그 수정시 우선 체크) */
.tui-full-calendar-month>div {
    height: 569px;
}

#pubcal_select, #start, #end {
    border: 1px solid #cdcdcd;
    border-radius: 3px;
}



/* 교수용 공유 캘린더 학생 목록 출력부분 */
#pubCalStudentList {
    margin-top: 2em;
    height: auto;
    background-color: white;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 0.5em;
    max-width: 900px;
}

#pubCalStudentList-area table {
    margin: 0;
}

#table-wrap-pubcal {
    overflow: auto;
    border: 1px solid #CDCDCD;
    height: 350px;
    margin-top: 15px;
    background-color: white;
}



/* 사용자 메뉴 관련 css */
/* 사용자 메뉴 기본위치 지정*/
#right_nav {
    display: block;
    float: left;
    margin-top: 3em;
    position: relative;
    left: 60px;
    width: 30%;
}

.tab_area {
    display: block;
    position: relative;
    width: 30%;
    padding: 0em 0em 0em 0em;
}

.nav-link {
    opacity: 0.5;
}

/* 사용자 메뉴 선택된 탭 글씨강조 */
.nav-link.active {
    font-weight: bolder;
    border-width: 1.5px;
    opacity: 1.0;
}


/*사용자 메뉴 상단 관련 css*/
/*사용자 메뉴 관련 css*/
#tab_box {
    border: 1px solid #cdcdcd;
    float: left;
    border-radius: 5px;
    background: #fff;
    height: 503px;
    padding: 0.2em 0.2em;
    width: 350px;
    margin-left: 3em;
    text-align: center;
}

#first_tab, #second_tab, #third_tab {
    height: 450px;
    overflow: scroll;
}

#first_tab {
    display: block;
}

#second_tab {
    display: none;
}

#third_tab {
    display: none;
}

.today_list_argu {
    border-bottom: 2px #dee2e6 dotted;
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.thisweek_list_argu {
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.lastweek_list_argu {
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#userinfo_layer {
    display: block;
    float: left;
    width: 30%;
    position: relative;
    margin: 0.6em 0em 0em 0em;
}

#userInfo {
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    background: #fff;
    padding: 1.5em 2em 1.5em 1.5em;
    width: 350px;
    margin-left: 3em;
    line-height: 18px;
}

.info {
    width: 200px;
    padding: 6px 10px 6px 20px;
    margin-left: 0px;
}

.username_set {
    font-size: 13px;
    font-weight: 700;
}

.my_info {
    font-size: 11px;
    color: #505050;
}

.my_info:hover {
    color: #505050;
}

.email_set {
    padding-top: 1px;
    color: grey;
    font-size: 12px;
}

.btn_logout {
    font-size: 11px;
    float: right;
    margin-top: 20px;
    padding: 6px 10px 6px 11px;
    color: #fff;
    border-radius: 14px;
    background-color: #ced2d7;
    text-decoration: none;
}

.btn_logout:hover {
    background-color: #b4b9bf;
    color: #fff;
    text-decoration: none;
}

/* 사용자 메뉴 스크롤바 관련 css */
::-webkit-scrollbar {
    width: 9px;
    /* 세로축 스크롤바 길이 */
    height: 9px;
    /* 가로축 스크롤바 길이 */
    background-color: transparent;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
    background-color: whitesmoke;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: lightslategrey;
}

::-webkit-resizer {
    background-color: lightslategrey;
}



/* 캘린더id에 따른 색상부여 및 위치 조정*/
/* 전공 필수 */
.sub0 {
    color: #ff5583;
    float: left;
    width: 20%;
}

/* 전공 선택 */
.sub1 {
    color: #ffbb3b;
    float: left;
    width: 20%;
}

/* 일반 교양 */
.sub2 {
    color: #03bd9e;
    float: left;
    width: 20%;
}

/* con클래스의 위치 조정 */
.con {
    float: left;
    width: 40%;
}

#dayList {
    height: auto;
    min-width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* datString클래스 위치 조정 */
.dayString {
    height: auto;
    display: block;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    text-align: center;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.nav-tabs a:hover {
    color: black;
}