/* 전체적으로 적용되는 css */
body {
    padding: 100px;
    background-color: #f5f6f7;
}

p {
    /* text-decoration: none; */
    color: rgb(36, 44, 53);
    font-size: 40px;
    font-weight: 700;
}

a {
    text-decoration: none;
}

.main {
    margin: auto;
    width: 70%;
    text-align: center;
}

/* 가운데 텍스트 관련 css */
h1 {
    font-size: 50px;
    color: rgb(67, 84, 100);
}

#content {
    margin-bottom: 50px;
}

/* box 관련 css */
.box {
    display: inline-block;
}

.box-content {
    display: inline-block;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 20px;
    width: 400px;
    height: 12em;
    padding-top: 40px;
}

/*line-height: 0px; */

.box {
    /* margin: 0 auto; */
    padding-left: 10px;
}

.detail {
    padding-top: 20px;
    margin: 0px 30px;
}