body {
    font-family: sans-serif;
}

.cal {
    width: 60%;
    height: 20%;
    padding: 1em 5em 5em 5em;
}

#title {
    font-weight: 700;
    text-transform: uppercase;
}

#menu {
    margin-bottom: 1em;
}

#menu button {
    width: 4em;
    background-color: white;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
}

#calendar {
    border: 1px solid #cdcdcd;
    border-radius: 3px;
}